body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
}
p {
    color: black;
    margin-top:5px;
}
input {
    background: transparent;
    border: solid 1px black;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
    width: 75%;
    margin-top: 10px;
}

#today {
 font-size: 30px;
}
strong {
    font-size: 28px;
    font-style: bold;
    margin-top: 10px;
}
header{
    text-align: center;
    background-image:linear-gradient(to left,rgb(20, 20, 153), teal) ;
    color: rgb(231, 229, 229);
    text-shadow: #bfbdbd;
    border-radius: 0;
    border-bottom: 1px solid black;
    font-size: 14px;
}
aside {
    width:30%;
}

.object {
    text-align: center;
}
.row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;
}
.container {
    border: solid 2px black;
    min-width: 900px;
    min-height: 45%;
    margin-top: 10px;
}
.container2 {
    border: none;
    min-width: 900px;
    min-height: 45%;
    margin-top: 20px;
}

.searchBtn {
    border: 1px solid black;
    border-radius: 15px;
    background-color: #06aed5;
    color: white;
    width: 70%;
    min-height: 40px;
    height: 20%;
    margin-top: 10px;
}

.btn:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}

label {
    min-width: 10%;
}

.btn {
    margin-top: 10px;
    margin-left: 6%;
    max-width: 75%;
    min-width: 75%;
    background-color: gray;
    color:#ffffff;
}

.btn-honolulu {
    margin-top: 10px;
    margin-left: 6%;
    max-width: 75%;
    min-width: 75%;
    background-color: gray;
    color: #ffffff;
}

#titleToday {
    font-size: 40px;
}

ul {
    list-style-type: none;
}

ol {
    list-style-type: none;
}
.card {
    background-color: #06aed5;
    color:#ffffff;
    font-weight: 500;
    font-size: 16px;
    height: 200px;
    width: 150px;
    margin-right: 15px;
    padding-top: 5px;
}
.date {
    font-size: 30px;
}
.iconToday {
    max-width: 15px;
}